@charset "utf8";

html, body {
	margin: 0;
	padding: 0;
	font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', sans-serif;
	color: #fff;
	background: #232831;
}

.border {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 0.5;
	pointer-events: none;
}
.border.border1 {
	height: calc(100% - 70px);
	width: calc(100% - 70px);
	border: solid 4px #fff;
}
.border.border2 {
	height: calc(100% - 50px);
	width: calc(100% - 50px);
	border: solid 2px #fff;
}

main {
	display: block;
	height: 100vh;
}
	main > article {
		position: relative;
		width: calc(100% - 128px);
		max-width: 1500px;
		margin: 0 auto;
		height: 100vh;
		font-size: 18px;
	}
		main > article > div {
			position: absolute;
			top: 30%;
			left: 0;
			right: -150px;
			width: 500px;
			margin: 0 auto;
		}
			main > article > div > h1 {
				margin: 0;
				padding: 0;
				font-size: 2em;
				font-weight: bold;
			}
			main > article > div > p {
				font-weight: bold;
			}

#ai {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50vw;
}
#sign {
	display: block;
	position: absolute;
	right: 0;
	bottom: 50px;
	height: 100px;
}

#gallery {
	position: relative;
	text-align: center;
	padding: 64px 128px 128px 128px;
	color: #fff;
	background: #111317;
}
	#gallery > h2 {
		margin: 0;
		padding: 64px;
		font-size: 38px;
		font-weight: bold;
	}
	#gallery > .grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 64px;
		align-items: center;
		max-width: 1300px;
		margin: 0 auto;
	}
		#gallery > .grid > section > img {
			max-height: 400px;
			max-width: 100%;
		}
	#gallery > aside {
		padding: 64px 0 0 0;
	}

#wanted {
	text-align: center;
	padding: 64px;
	background: #464c56;
	font-size: 18px;
}

body > footer {
	text-align: center;
	padding: 64px;
	background: #0d0e0e;
}
	body > footer > small {
		font-size: 14px;
	}
